/* general */
*{
    box-shadow:1px solid red;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

body{
    background-color: #ddd;
}

section{
    margin-top: 50px;
}

header{
    font-family: "Segoe UI", Arial, sans-serif;;
}

/* nav bar */
nav{
    display:flex;
    justify-content: space-between;
    position: fixed;  
    background-color: #333333;
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 2vw;
}

nav .menu li{
    margin: 0 35px 0 35px;
}

nav img{
    display: block;
    height: 60px;
    width: 200px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    height: 100%;
}

nav li a:hover {
    background-color: #111111;
}

/* Acceuil */

#image-acceuil img{
    width: 100%;
}

#text-bienvenu{
    background-color: #DADADA;
    font-size: 1.5em;
    text-align: center;
}

#slogan{
    font-size: 50px;
    text-align: center;
}

#text-bienvenu #mot-bienvenu{
    font-size: 3em;
    color: #006FBF;
}

/* Notre personnel */
header{
    margin-top: 50px;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    text-decoration: underline;
}

#notre-personnel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#notre-personnel img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

#notre-personnel figcaption{
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 50px;
}

/* Nos services */
#nos-services{
    margin: 50px;
}

#nos-services header{
    margin: 50px;
}

#nos-services  ul li{
    font-size: 40px;
    list-style-type: square;
    margin-left: 30%;
}

/* formulaire */
#contact{
    padding: 0 10%;
    margin: 50px;
    height: 100vh;
}

#contact form{
    background-color: #fff;
    margin: auto;
    padding: 20px;
}

.left-right{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.left-right .left, .left-right .right{
    display: flex;
    flex-direction: column;
    width: 49%;
    padding: 10px;
}

#contact form label{
    font-size: 14px;
    padding: 10px 0;
    font-weight: 600;
}

#contact form input{
    padding: 8px;
    outline: 0;
    border: 1px solid #999;
}

textarea{
    height: 150px;
    resize: none;
    outline: 0;
    width: 95%;
    padding: 10px;
}

#contact form input:focus ,textarea:focus{
    border: 1px solid #FFC8C9;
}

iframe{
    height: 150px;
    width: 100%;
    padding: 10px;
}

#submitbtn{
    margin-left: 80%;
    font-size: 30px;
    width: 190px;
    border-radius: 15px;
}

#submitbtn:hover{
    background-color: #FFC8C9;
    transition: 500ms;
}

/* Responsive */
@media screen and (max-width:750px) {
    /* Menu responsive */
    nav .menu{
        display: none;
    }

    nav .menu li{
        margin: 0;
        font-size: medium;
    }

    nav{
        display: flex;
        justify-content: space-between;
        background-color: #333;
    }
 
    nav img{
        width: 100px;
    }    


    .responsive-menu{
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }

    .responsive-menu::after{
        position: absolute;
        content: "";
        height: 3px;
        background-color: #fff;
        width: 28px;
        box-shadow: 0 10px 0 #fff;
        transform: translateY(-10px);
        transition: 0.5s;
    }

    .responsive-menu.active::after{
        box-shadow: 0 0 0 #fff;
        transform: rotate(45deg);
    }

    .responsive-menu::before{
        position: absolute;
        content: "";
        height: 3px;
        background-color: #fff;
        width: 28px;
        transform: translateY(10px);
        transition: 0.5s;
    }

    .responsive-menu.active::before{
        transform: rotate(-45deg);
    }

    nav .menu.responsive{
        display: flex;
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        background-color: #222;
        align-items: unset;
    }

    /* acceuil */
    #text-bienvenu{
        font-size: 20px;
    }

    #slogan{
        font-size: 25px;
    }

    /* notre personel */
    #notre-personnel{
        flex-direction: column;
    }

    #notre-personnel img{
        margin-left: 20px;
    }

    #notre-personnel figcaption{
        font-size: large;
    }

    /* nos servises */
    #nos-services  ul li{
        font-size: 20px;
        margin-left: 0;
    }


    /* contact */
    #contact{
        margin: 0;
    }

    .left-right{
        flex-direction: column;
    }

    .left-right .left, .left-right .right{
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    textarea{
        width: 90%;
    }

    #submitbtn{
        margin-left: 50%;
        font-size: 15px;
        width: 95px;
        border-radius: 15px;
    }
}